.o_kanban_view.o_kanban_dashboard.o_project_kanban {
    .o_project_kanban_boxes {
        font-size: x-small;
        border: 1px solid rgba(96, 139, 168, 0.2);
        background-color: #fbfbfb;

        .o_project_kanban_box {
            width: unset;
            padding: 0 3px 0 3px;

            &:first-child {
                text-align: center;
                padding: 0 3px 0 0;
            }

            &:last-child {
                text-align: center;
                padding: 0 0 0 3px;
            }

            &:nth-child(2) {
                width: unset;
            }

        }

        .o_project_timesheet_box {
            width: unset !important;
        }
    }
}

.o_kanban_record_supertop {
    margin: -8px -8px 8px -8px;
    padding: 4px;
    box-shadow: 0px 2px 3px #c7c7c7;
    background-color: #596878;
    color: white;

    .o_kanban_project_title {
        color: white;
    }
}