.o_mail_thread .o_thread_message .o_thread_message_core {

    .o_mail_tracking {
        margin: 0 0 1.2rem 0;
        font-size: 75%;
        padding: 5px;
        background-color: #f0f0f0;
        border-radius: 4px;
    }
}